<h1 align="center"><%= "Categoría: " + @category.name %></h1>

<div class="center">
  <%= will_paginate @category_articles %>
</div>

<%= render 'articles/articles', obj: @category_articles %>

<div class="center">
  <%= will_paginate @category_articles %>
</div>