<div class="container">
  <footer class="footer">
    <small>Copyright &copy;  <a href="http://gmartinez.net" target="_blank">Germán Martínez</a></small>
    <nav>
      <ul>
        <li><%= link_to "Acerca de Alpha-Blog", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>